.header {
    display: space-between;
    justify-content: center;
    align-items: center;
}
.choices {
    display: space-between;
    justify-content: center;
    flex-wrap: nowrap;
}
.btn {
    display: inline-block;
    width: 200px;
    margin: 20px;
}