.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.choices {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5 10;
}
.pick {
/*    display: inline-block; */
    width: 200px;
    margin: 20px;
}

.scoreContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scoreBox {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.container {
    display: flex;
    justify-content: center;

}

.replay {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  }

.replay-ask {
    font-size: large;
    font-style: bold;
 } 

.text {
    margin: 5px;
}
 
button {
    padding: 8px 16px;
    border-radius: 8px;
    margin: 5px;
  }
  
button.yes button.no{
    background: royalblue;
    border: 1px solid royalblue;
    color: white;

}

button.no {
    color: red;
}

.goodbye {
    display: flex:
    justify-content: center;
}

[hidden] {
    display: none !important;
}